/* Helpers: hide scrollbars - works on mobile/desktop */
.no-scrollbar {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none;    /* Firefox */
}
.no-scrollbar::-webkit-scrollbar { /* Chrome/Safari */
    display: none;
}
